.board-container {
    width: 100%;
    background-color: azure;
    padding: 20px;
}

.board-container .board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}